/[Mm]egaDriveProject/romexecuter/
/[Mm]egaDriveProject/out/
/[Mm]egaDriveProject/Debug/
/[Dd]ebug/

out/res
out/src
rom_head.bin
rom_head.o
rom.out
sega.o
symbol.txt

.vs/

cloc-1.90.exe

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln